<div class="top">
  <button mat-icon-button [routerLink]="'/baghchal/'"><mat-icon>arrow_back</mat-icon></button>
  <h4>Bagh-Chal</h4>
  <button mat-icon-button><mat-icon>info</mat-icon></button>
</div>
<div class="top">
  <i>{{ opponent }}</i>
</div>
<div class="container" id="display">
  <h4 class="center">Turn: <span style='color:{{ turnColor() }}'>{{ turn() }}</span></h4>
  <h4 class="center">Captures: {{ game?.captures }}</h4>
  <canvas #canvas width=450 height=450></canvas>
  <button mat-raised-button class="center" (click)="refresh()">Refresh</button>
  <button mat-raised-button class="center" (click)="playMove()">Play</button>
</div>
