<h1 mat-dialog-title>Create a new game of Bagh-chal</h1>
<div mat-dialog-content>
  <p>
    Add email addresses for both players to create a game. At least one of the
    emails must be you (the account you're signed in with). You can play against
    yourself if you set both emails to be your own.
  </p>
  <mat-form-field appearance="outline">
    <mat-label>Tiger</mat-label>
    <input
      matInput
      [formControl]="tiger"
      (blur)="updateErrorMessage(tiger, tigerError)"
      required
    />
    @if (tiger.invalid) {
      <mat-error>{{tigerError()}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Goat</mat-label>
    <input
      matInput
      [formControl]="goat"
      (blur)="updateErrorMessage(goat, goatError)"
      required
    />
    @if (goat.invalid) {
      <mat-error>{{goatError()}}</mat-error>
    }
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-flat-button [disabled]="tiger.invalid || goat.invalid" (click)="create()">Create</button>
</div>
