<button mat-fab extended class="top" (click)="openNewGameDialog()">
  <mat-icon>add</mat-icon>
  New Game
</button>
<table mat-table [dataSource]="gamesList">
  <ng-container matColumnDef="tiger">
    <th mat-header-cell *matHeaderCellDef> Tiger </th>
    <td mat-cell *matCellDef="let game">
      <div style="display:inline-flex">
        <span style="line-height:24px">{{game.tiger}}</span>
        @if (game.winner === null && game.turn % 2 === 1) {
          <mat-icon class="material-symbols-outlined">chess</mat-icon>
        } @else if (game.winner === "TIGER") {
          <mat-icon class="material-symbols-outlined">trophy</mat-icon>
        }
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="goat">
    <th mat-header-cell *matHeaderCellDef> Goat </th>
    <td mat-cell *matCellDef="let game">
      <div style="display:inline-flex">
        <span style="line-height:24px">{{game.goat}}</span>
        @if (game.winner === null && game.turn % 2 === 0) {
          <mat-icon class="material-symbols-outlined">chess</mat-icon>
        } @else if (game.winner === "GOAT") {
          <mat-icon class="material-symbols-outlined">trophy</mat-icon>
        }
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game">
      <button mat-raised-button [routerLink]="['/baghchal/', game.id]">
        @if (game.winner === null) {
          Play!
        } @else {
          View
        }
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
